# Data Types and Structures

1.What are data structures, and why are they important?

-> Data structures are ways of organizing and storing data for efficient access and modification. They are crucial for writing optimized and scalable programs.

2.Explain the difference between mutable and immutable data types with examples.

-> Mutable types (Examples are  list, dict, set) can be changed after creation.
 Immutable types (Examples are  int, str, tuple) cannot be changed.

 3.What are the main differences between lists and tuples in Python?

 -> Lists are mutable and defined with square brackets  [ ].
  tuples are immutable and use parentheses ( ).

4.Describe how dictionaries store data.

-> Dictionaries store data as key-value pairs. Each key is unique and maps to a specific value.

5.Why might you use a set instead of a list in Python?

-> Sets automatically eliminate duplicates and offer faster membership testing using hashing

6.What is a string in Python, and how is it different from a list?

-> A string is a sequence of characters, immutable, and typically used for text. A list is mutable and can contain any data types.

7.How do tuples ensure data integrity in Python?

->Tuples are immutable, which prevents accidental changes and ensures consistent data.

8.What is a hash table, and how does it relate to dictionaries in Python?

->A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables.

9.Can lists contain different data types in Python?

-> Yes, Python lists can store elements of mixed data types, like integers, strings, and objects.

10.Explain why strings are immutable in Python.
-> Strings are immutable for memory efficiency and security, and to support hashability for use as dictionary keys.

11.What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries provide fast access to values using keys, which is more efficient than searching a list.

12.Describe a scenario where using a tuple would be preferable over a list.
-> Use a tuple to store fixed data like GPS coordinates or a birth date that shouldnâ€™t change.

13.How do sets handle duplicate values in Python?
-> Sets automatically remove duplicates and only store unique elements.

14.How does the "in" keyword work differently for lists and dictionaries?
In lists, it checks if a value exists in the elements. In dictionaries, it checks for the existence of a key.

15.Can you modify the elements of a tuple? Explain why or why not.
-> No, tuples are immutable. Once created, their elements cannot be changed.

16.What is a nested dictionary, and give an example of its use case?
-> A nested dictionary is a dictionary inside another dictionary, useful for storing structured data like student records:

Example:- student = {"name": "Alice", "marks": {"math": 90, "science": 95}}

17.Describe the time complexity of accessing elements in a dictionary.
-> Average case time complexity is O(1) due to hash-based access.

18.In what situations are lists preferred over dictionaries?
-> Lists are preferred when order matters and the data doesn't require key-value mapping.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Before Python 3.7, dictionaries were unordered. From 3.7+, insertion order is preserved, but traditionally they didn't guarantee order, affecting predictable data iteration.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
-> Lists retrieve data by index (position), while dictionaries retrieve data by key, offering faster and more intuitive lookups for labeled data.

In [1]:
#  Write a code to create a string with your name and print it

name = "John"
print(name)

John

In [2]:
# Write a code to find the length of the string "Hello World"

s = "Hello World"
print(len(s))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [4]:
#4 Write a code to convert the string "hello" to uppercase

s = "hello"
print(s.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".

s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it.

print(list(range(1, 6)))

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [13]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

t = (10, 20, 5, 15)
print(min(t))

5

In [14]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [15]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

t = ('apple', 'banana', 'kiwi')
print('kiwi' in t)

True

In [16]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it

s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [17]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}

s = {1, 2, 3, 4, 5}
s.remove(4)
print(s)

{1, 2, 3, 5}

In [19]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {"name": "John", "age": 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

d = {"name": "Alice", "age": 30}
print(d["name"])

Alice

In [24]:
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {"name": "Bob", "age": 22, "city": "New York"}
print(d["age"])

22

In [25]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

d = {"name": "Alice", "city": "Paris"}
print(d["city"])

Paris

In [26]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced).

lst = [5, 3, 8, 1]
lst.sort()
print(lst)

[1, 3, 5, 8]

In [28]:
# Write a code to create a list with strings and print the element at the third index.

lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

In [29]:
# Write a code to combine two dictionaries into one and print the result.

d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#  Write a code to convert a list of strings into a set.

lst = ['1', '2', '3', '4']
converted_set = set(lst)
print(converted_set)

{'1', '3', '4', '2'}